<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>Controllers.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageController</servlet-name>
        <servlet-class>Controllers.ImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOtpServlet</servlet-name>
        <servlet-class>OTP.SendOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>OTP.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controllers.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>Controllers.EventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarController</servlet-name>
        <servlet-class>Controllers.CarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>Controllers.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>Controllers.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCustomerContronller</servlet-name>
        <servlet-class>Controllers.AdminCustomerContronller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewController</servlet-name>
        <servlet-class>Controllers.ReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarrantyController</servlet-name>
        <servlet-class>Controllers.WarrantyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishlistController</servlet-name>
        <servlet-class>Controllers.WishlistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentController</servlet-name>
        <servlet-class>Controllers.AppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DailyRevenueController</servlet-name>
        <servlet-class>Controllers.DailyRevenueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageController</servlet-name>
        <url-pattern>/ImageController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOtpServlet</servlet-name>
        <url-pattern>/SendOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/VerifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/EventController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarController</servlet-name>
        <url-pattern>/CarController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/EmployeeController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCustomerContronller</servlet-name>
        <url-pattern>/AdminCustomerContronller/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewController</servlet-name>
        <url-pattern>/ReviewController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarrantyController</servlet-name>
        <url-pattern>/WarrantyController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishlistController</servlet-name>
        <url-pattern>/WishlistController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentController</servlet-name>
        <url-pattern>/AppointmentController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DailyRevenueController</servlet-name>
        <url-pattern>/DailyRevenueController/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
